.container{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}

.square{
    flex: 0 0 calc(100%/var(--cols));
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(136, 136, 207);
    box-sizing: border-box;
    aspect-ratio: 1/1;
}

.hover{
    background-color: var(--rgb);
}

button{
font-size: large;
padding: 5px;
margin: 30px; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}